.chat-container {
	display: flex;
	flex-direction: column;
	width: 600px;
}

.chat-window-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
	border-bottom: 1px solid var(--light-gray);
	padding: 0 10px;
}

.no-messages {
	flex-grow: 1;
	width: 100%;
}

.chat-window {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.chat-box-frame {
	margin-left: 3px;
	margin-right: 3px;
	padding-top: 10px;
}

.chat-box-messages {
	overflow-y: scroll;
	height: 100%;
}

.chat-box-messages::-webkit-scrollbar {
	width: 4px;
}

.chat-box-messages::-webkit-scrollbar-thumb {
	background-color: var(--chat-scrollbar);
	border-radius: 4px;
}

.chat-box-messages::-webkit-scrollbar-track {
	background-color: transparent;
}

.chat-box-messages::-webkit-scrollbar-button {
	display: none;
}
