.message-bubble-outer {
	margin: 0 !important;
	max-width: 250px !important;
	padding: 0 10px;
}

.users-align {
	align-self: flex-end;
}

.others-align {
	align-self: flex-start;
}

.message-bubble {
	border-radius: 10px;
	margin: 0 !important;
	text-align: left;
	display: inline-block;
}

.message-content {
	display: inline-block !important;
}

.msg-outer {
	display: flex;
}

.users-msg-outer {
	justify-content: right;
}

.others-msg-outer {
	justify-content: left;
}

.users-message {
	background-color: var(--users-message);
	color: whitesmoke;
	text-align: right;
}

.others-message {
	background-color: var(--others-message);
}

.message-info {
	color: rgb(165, 164, 164) !important;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
}

.message-info-user {
	text-align: end;
}

.message-info-other {
	text-align: start;
}
