.chat-list-header-title {
	font-weight: 600 !important;
}

.chat-list-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	border-bottom: 1px solid var(--light-gray);
	padding: 0 10px;
}

.chat-list-box {
	height: calc(100% - 50px);
}

.chat-item-box {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid var(--light-gray);
	margin: 0 !important;
	padding: 3px 9px !important;
	transition-duration: 0.3s;
}

.selected-chat {
	background-color: var(--light-blue);
}

.chat-item-box:hover {
	background-color: var(--light-blue);
}

.chat-participants {
	width: 60%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #212529 !important;
}

.chat-last-msg {
	display: block;
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chat-last-msg-time {
	font-size: 12px !important;
}
