.chat-list-header-title {
	font-weight: 600 !important;
}

.chat-list-panel {
	width: 300px;
	border-radius: 10px;
	margin: 10px;
	overflow-y: hidden;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.chat-list-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	padding: 0 10px;
	border-radius: 10px 10px 0 0;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.chat-item-stack {
	height: calc(100% - 50px);
}

.chat-item-box {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid var(--light-gray);
	margin: 0 !important;
	padding: 3px 9px !important;
	transition-duration: 0.3s;
}

.selected-chat {
	background-color: var(--light-blue);
}

.chat-item-box:hover {
	background-color: var(--light-blue);
}

.chat-participants {
	width: 60%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #212529 !important;
}

.chat-last-msg {
	display: block;
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chat-last-msg-time {
	font-size: 12px !important;
}

.invite-title {
	font-size: 20px !important;
}

.invite-emoji {
	font-size: 24px;
	display: inline-block !important;
}

.invite-box {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	gap: 20px;
}

.invite-text-box {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.invite-text-field {
	flex-grow: 1;
}

.invite-copy {
	width: 36px;
	height: 36px;
}

.invite-qr-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: 5px solid var(--main-blue);
	border-radius: 20px;
	padding: 15px;
}
