.chat-box-messages {
	overflow-y: scroll;
	height: 100%;
	padding-top: 10px;
	margin-left: 3px;
	margin-right: 3px;
}

.chat-box-messages::-webkit-scrollbar {
	width: 4px;
}

.chat-box-messages::-webkit-scrollbar-thumb {
	background-color: var(--chat-scrollbar);
	border-radius: 4px;
}

.chat-box-messages::-webkit-scrollbar-track {
	background-color: transparent;
}

.chat-box-messages::-webkit-scrollbar-button {
	display: none;
}
