.invite-accept-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	width: 300px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 20px;
	border: 3px solid var(--main-blue);
}

.inv-header {
	font-weight: bold;
}

.inv-header-emoji {
	font-size: 24px;
}

.inv-descrip {
}

.invite-creator {
	display: inline-flex;
	align-items: center;
	background-color: #468bf9;
	padding: 2px 10px;
	border-radius: 10px;
	color: white;
}
