#root {
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	height: calc(100vh - 60px);
}

.page {
	display: block;
	width: 100%;
}

.nav-bar-button {
	background-color: aquamarine;
}

.app-logo {
	--logo-size: 30px;

	height: var(--logo-size);
	width: var(--logo-size);
	color: var(--main-blue);
}

.app-title {
	font-size: 22px;
}
